<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form method="post">
        <table>
            <tr>
                <th> Team Name</th>
                <td>
                    <input type="text" name="name">
                </td>
            </tr>
            <tr>
                <th>Place</th>
                <td>
                    <input type="text" name="place">
                </td>
            </tr>
            
            <tr>
                <th>Phone</th>
                <td>
                    <input type="text" name="phone">
                </td>
            </tr>
            <tr>
                <th>Email</th>
                <td>
                    <input type="email" name="email">
                </td>
            </tr>
           
            <tr>
                <th>User Name</th>
                <td>
                    <input type="text" name="uname">
                </td>
            </tr>
            <tr>        
                <th>Password</th>
                <td>
                    <input type="password" name="pwd" >
                </td>
            </tr>
            
            <tr><th><input type="submit" value="Register" name="submit"></th></tr>
        </table>
    </form>
</body>
</html>